<div class="play">
  <div class="play-sandbox">
    <div class="block if-block if-block-both">
      <span class="text">if</span>
      <div class="case-statement"></div>
    </div>

    <div class="block if-block if-block-top">
      <span class="text">if</span>
      <div class="case-statement"></div>
    </div>

    <div class="block if-block if-block-bottom">
      <span class="text">if</span>
      <div class="case-statement"></div>
    </div>
  </div>

  <div class="play-sidebar">
    I teach things
  </div>

</div>
